
:root{
    --headColor: #888809;
    --regularFont: 'Montserrat', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


.App{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    width: 100%;
    transition: all 1s ease-in;
}
   
.btn{
    display: flex;
    flex-direction: column;
    padding: 7px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    outline: none;
    border-radius:5px;
    font-size: 1.4rem;
    cursor: pointer;
}


.eye-btn{
    display: flex;
    flex-direction: column;
    width: 20px;
    padding: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center; 
    outline: none;
    border: none;
    background-color: transparent;   
    font-size: 1.2rem;
    color: #636364;
}

.animateit {
    animation-duration: 0.4s;
    animation-name: animate-pop;
    animation-timing-function: ease-in;
}

@keyframes animate-pop {
    0% {
      opacity: 0;
      transform: scale(0.9, 0.9);
    }
  
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }


  