.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
    text-decoration: none;
    min-height: 8vh;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    gap:1rem;
}

.heading-area{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 25%;
    font-size: 1.2rem;
    color:brown;
    font-weight: bold;
}

.nav-actions{
    display: flex;
    width: 75%;
    justify-content: flex-end;
    text-align: right;
    align-items: center;
}

.nav-area{
    display: flex;
    justify-content: flex-end;
    gap: 0.1rem;
    text-decoration: none;
    list-style-type: none;
}

.nav-btn{
    display: block;
    border: 1px solid crimson;
    padding: 6px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    text-decoration: none;
}

#login-nav-btn{
    color: white;
    background-color: darkviolet;
}
#signup-nav-btn{
    color: white;
    background-color: brown;
}
